# Clerk Authentication
# Obtenha suas chaves em: https://dashboard.clerk.com/apps/app_3Hn5GHpl56JaJ3ACkHGQmjDJVdD/api-keys

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
CLERK_SECRET_KEY=sk_test_your_secret_key_here
CLERK_WEBHOOK_SECRET=whsec_your_webhook_secret_here

# Clerk App ID
NEXT_PUBLIC_CLERK_APP_ID=app_3Hn5GHpl56JaJ3ACkHGQmjDJVdD
